{% extends "inicio/encabezado.html" %} {% load static %} {% block usuario_imagen %}
<img src="{% static 'inicio/images/contact-icon.png' %}"> {% endblock %} {% block usuario_nombre %} Contacto <span>Atención</span> {% endblock %} {% block encabezado %}
<div class="page-header">
    <div class="page-title">
        <h3>Contacto <small>Contactanos</small></h3>
    </div>
</div>
{% endblock %} {% block contenido %}

<form class="form-horizontal" action="#" role="form" method="POST">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu nombre">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Mensaje:</label>
                <div class="col-sm-10">
                    <textarea name="mensaje" class="form-control" rows="10" placeholder="Escribe tu mensaje aquí..."></textarea>
                </div>
            </div>

            <div class="form-actions text-right">
                <button type="submit" name="enviar" class="btn btn-primary">Enviar</button>
            </div>

        </div>
    </div>
</form>
{% endblock %}