{% extends "inicio/encabezado.html" %} {% load static %} {% block usuario_imagen %}
<img src="{% static 'inicio/images/user-icon.png' %}"> {% endblock %} {% block usuario_nombre %} Registrar <span>Formulario</span> {% endblock %} {% block encabezado %}
<div class="page-header">
    <div class="page-title">
        <h3>Formulario <small>Ingresa tu información</small></h3>
    </div>
</div>
{% endblock %} {% block contenido %}
<div class="panel panel-default">
    <div class="panel-body">
        <p>Aquí van tus inputs de Matrícula, Nombre, Edad...</p>
    </div>
</div>
{% endblock %}