{% extends "inicio/encabezado.html" %}

{% 
    {% block titulo %} Principal {% endblock titulo %}
%}

{% block encabezado %}
				<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Alumnos
				    <small>Lista de Alumnos </small></h3>
				</div>
				
			</div>
			<!-- /Encabezado-->
{% endblock encabezado %}


{% block contenido %}'
		<!-- Contenido Principal-->
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Foto</th>
					<th>Matricula</th>
					<th>Nombre</th>
					<th>Carrera</th>
					<th>Turno</th>
				</tr>
			</thead>
			<tbody>
				<td class="text-center">
					<img src="" alt="" class="img-media">
				</td>
				<td class="text-semibold">UTM231003TI</td>
				<td class="text-semibold">Hector Manuel Real Jaimes</td>
				<td class="text-semibold">Tecnologias de la informacion</td>
				<td class="text-semibold">Matutino</td>
		</table>
        <!-- /Contenido Principal-->'
{% endblock %}